@import "../../styles/variables.scss";

.toolBar {
  height: 100%;
  width: 3.5rem;
  overflow-x: hidden;
  border: 1px solid #787a80;
  background: rgba(0,0,0,0.6);
  box-shadow: 0 20px 30px rgba(0,0,0,0.5);
  transition: filter 2s;
  position: relative;
  margin: 10px 0px 0px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.opened {
  width: 250px;
}

.button {
  position: absolute;
  margin-top: 10px;
  right: 15px;
  cursor: pointer;
}

.addbutton {
    display: inline-block;
    width: auto;
    min-width: 5rem;
    padding: .4rem 0rem;
    border-radius: .5rem;
    text-align: center;
    background: $primary;
    color: white;
    font-family: $accent;
    font-weight: 700;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 15px;
}

.navigationContainer {
  margin-top: 50px;
  visibility: hidden;
  padding-left: 15px;
  overflow-x: hidden !important;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.opened > .navigationContainer {
  visibility: visible;
}
